$font-primary: "Lato", "Trebuchet MS", Helvetica, sans-serif;
$font-md: "Lato-md", "Trebuchet MS", Helvetica, sans-serif;
$font-bold: "Lato-bold", "Trebuchet MS", Helvetica, sans-serif;
$font-title: "Museo Cyrl 700", "Trebuchet MS", Helvetica, sans-serif;
$font-title-bold: "Museo Cyrl 900", "Arial-Black", Helvetica, sans-serif;

$width: 1160px;
$width-tab: 600px;
$width-mobil: 320px;
$black: #000000;
$white: #ffffff;
$color-primary: #353945;
$color-secondery: #051945;
$color-btn: #d83f3f;

$color-btn-hover: #c31515;

$border: 1px solid #d83f3f;
$form-border: 2px solid #ebebeb;

$chat-hed-bg: #1f3977;
$chat-input-brd: 1px solid #cacaca;
